# ===== OPENAI =====
OPENAI_API_KEY="your-actual-key"

# ===== NOTION =====
NOTION_API_KEY="your-notion-api-key"
NOTION_PAGE_ID="your-notion-page-id"
NOTION_TEST_PAGE_ID="your-notion-test-page-id"

# ===== GITHUB =====
GITHUB_TOKEN="your-github-personal-access-token"
GITHUB_REPO_OWNER="your-github-username-or-org"
GITHUB_REPO_NAME="your-repo-name"
GITHUB_TEST_REPO_NAME="your-test-repo-name"

# ===== AWS SANDBOX ACCOUNT =====
# These also need to be added the GITHUB_REPO_NAME repository secrets
AWS_ACCESS_KEY_ID="your-prod-aws-access-key"
AWS_SECRET_ACCESS_KEY="your-prod-aws-secret-key"
AWS_DEFAULT_REGION="us-east-1"
AWS_ACCOUNT_ID="123456789012"

# ===== AWS TEST ACCOUNT =====
TEST_AWS_ACCESS_KEY_ID="your-test-aws-access-key"
TEST_AWS_SECRET_ACCESS_KEY="your-test-aws-secret-key"
TEST_AWS_DEFAULT_REGION="us-east-1"
TEST_AWS_ACCOUNT_ID="210987654321"
